body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 32px;
  margin-top: 30px;
  font-weight: 700;
}

#usersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.user-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.user-logo {
  max-width: 100px;
  max-height: 100px;
  margin: 15px auto;
  display: block;
}

.user-card p {
  margin: 10px 0;
  color: #606060;
  font-size: 17px;
}

.user-card button {
  margin: 10px;
  background-color: #005BAA;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

#createUserBtn {
  padding: 12px 24px;
  background: #afcb07;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
#createUserBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #afcb07;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.close-btn {
  cursor: pointer;
  float: right;
  font-size: 24px;
  color: #4f4f4f;
}
.popup h2 {
  color: #005baa;
  margin-bottom: 20px;
}
.popup form {
  display: flex;
  flex-direction: column;
}
.popup label {
  text-align: left;
  font-weight: bold;
  color: #4f4f4f;
  margin-top: 10px;
}
.popup input {
  margin: 5px 0;
  padding: 12px;
  border: 1px solid #afcb07;
  border-radius: 8px;
  background: #f9f9f9;
  color: #333;
  font-size: 16px;
}
.popup input::placeholder {
  color: #888;
}
#confirmCreateUserBtn {
  background: #afcb07;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  margin-top: 20px;
}
#confirmCreateUserBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #afcb07;
}
.popup-overlay.active {
  display: flex;
}